:root {
  --primary-color: #ff0000;
  --secondary-color: #00ff00;
  --Cherry-Red: #C72C49;
  --Golden-Yellow: #FCE38A;
  --Forest-Green: #84A94B;
  --White: #ffffff;
  --Deep-Purple: #6F42C1;
  --Teal: #00BDBE;
  --Tangerine-Orange: #F76C51;
  --Black: #000;
  --Navy-Blue: #001F3F;
  --Light-Green: #95E066;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.padding-lf-rt {
  padding: 0px 20px;
}


